.contain-card {
    background-color: rgb(216, 214, 214);
    border-radius: 10px;
    border: none;
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 7px 1px -5px rgba(23,23,23,0.25);
}

.contain-card .contain-images img:nth-child(1) {
    height: 200px;
    width: 200px;
    border-radius: 999px;
    position: relative;
    top: 20px;
    left: 90px;
    z-index: 1;
}

.contain-card .contain-images img:nth-child(2) {
    height: 40px;
    width: 60px;
    border-radius: 10px;
    position: relative;
    top: 25px;
    left: 30px;
    z-index: 999;
}

.contain-card .contain-information {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    left: 90px;
    font-size: 20px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}